* {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=10521) 0 0, auto !important;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=10521) 0 0 / 70% 70%, auto !important;
}

a, button, .skill-item, .social-icon, .project-btn, .contact-link {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=22457) 0 0, pointer !important;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=22457) 0 0 / 70% 70%, pointer !important;
}